/* HEADER */
a,p,h4,ul,li{
    font-family: 'Montserrat', sans-serif;
}
body{
    margin-left: 150px;
    margin-right: 150px;
}
a{
    color:black;
    text-decoration:none;
    border: 40px; 
    margin-left: 20px;
}
.header{
    display:flex;
    justify-content: space-between;  
    margin: Opx;
}
.menu{
    padding: 40px 0px 0px 0px;
}
/* cession mon petit graphisme */
.arriere-plan{
    background-image: url(backgroung_image.jpg);
    height: 500px;
    text-align: center;
}
.arriere-plan p{
     color:white ;
     font-size: 30px;
     margin: 20px;
}
 main img{
    margin-top: 150px;
    max-width: 200px;
}
/* deuxiemme de texte en tete */

.texte p{
    color: black;
    text-align: center;
    opacity: 0.8;
 }
     /* cession d'image texte */
.cession3{
        display: flex;
        justify-content: center ;
        margin: 50px; 
     }
.cession3 img{
        margin-top: 0px;
        margin-left: 120px;

     }
.cession3 p {
        text-align: center;
        color: black;
        opacity: 0.9;
     }
.illustration{
        max-width: 250px;
        max-height: 200px;
        margin-left: 35px ;
     }
.graphisme{
        max-width: 350px;
        max-height: 200px;
        margin-right: 80px;
     }
.strategie{
        max-width: 350px;
        max-height: 200px;
     }
.cession3 h2{
        justify-content: center;
        margin-left: 70px;
     }
.illustration p{
        margin-left: 70px;
        opacity: 0.9;
     }
     /* cession 4 texte */
     .cristine p{
        max-width: 500px;
        max-height: 200px;
        margin-left: 680px; 
        text-align: center;
        color: black;
        opacity: 0.8;
       
     }
     /* footer */
    .footer{
        background-color:#5B359D ; 
    }
    .footer h4,p,ul{
        color: white;
    }
    .dernier{
        display: flex; 
        justify-content: space-around;
    }
    .icon{
        display: flex;
        justify-content: center;
        
    }
     .footer h4{
        text-align: center;
        padding-top: 30px;
        margin: 0px;
        }
     .footer p{
        opacity: 0.6;
     }
     /* icon-css */
     .fa-brands{
        padding: 20px;
        font-size: 30px; 
        width: 70px; 
        text-align: center; 
        text-decoration: none;  
        background-color: #5B359D;
        color: white;
        opacity: 0.7;

    }
    
    
   
     



     
    
    
